.home-new-record {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  transition: z-index 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;

  .record-child-panel {
    position: relative;
    padding: 20px;
    max-width: 600px;
    width: 80vw;
    height: 80dvh;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: auto;

    .record-child-list {
      padding: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE 10+, edge */

      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }

      .record-child-row {
        width: 100%;
        padding: 10px;
        // 网格布局六列
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        height: 75px;
        gap: 20px;

        .record-child-item {
          width: 100%;
          height: 60px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          overflow: hidden;

          .record-child-item-name {
            margin-top: 5px;
            width: 100%;
            height: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            color: #808080;
            overflow: hidden;

            .record-child-item-name-text {
              width: 100%;
              line-height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: center;
            }
          }

          .record-child-item-pic {
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
    
            svg {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .kind {
    width: 140px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    gap: 20px;
    
    .kind-item {
      cursor: pointer;
    }
  }
  
  .line {
    margin-bottom: 10px;
    position: relative;
    left: 10px;
    width: 60px;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 1000px;
    transition: left 0.3s ease-in-out;
  }

  .record-content {
    flex: 1;

    .record-content-card {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE 10+, edge */

      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }

      .record-content-card-error {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        img {
          width: 30%;
          object-fit: contain;
        }

        span {
          font-size: 20px;
          font-weight: bolder;
          color: #808080;
        }
      }

      .record-content-card-loading {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .record-content-card-row {
        width: 100%;
        padding: 10px;
        // 网格布局六列
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 75px;
        gap: 20px;

        .record-content-card-item {
          width: 100%;
          height: 60px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          overflow: hidden;

          .record-content-card-item-name {
            margin-top: 5px;
            width: 100%;
            height: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            color: #808080;
            overflow: hidden;

            .record-content-card-item-name-text {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: center;
              line-height: 18px;
            }
          }

          .record-content-card-item-pic {
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
    
            svg {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

        }
      }
    }
  }

  .record-cost-number {
    width: 100%;
  } 

  .record-cost-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 50px;
    padding: 10px 20px;

    .record-cost-info-icon {
      height: 100%;

      .record-cost-info-icon-pic {
        height: 100%;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      img {
        height: 100%;
        object-fit: cover;
      }

      svg {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .record-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    width: 100%;
    border-top: 1px solid #c0c0c0;

    .record-remark {
      flex: 1;
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
      margin: none;
      padding: none;
      background-color: transparent;
    }

    .record-cost {
      height: 100%;

      .record-cost-number {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        font-size: 26px;
        font-weight: bolder;
      }
    }
  }

  .calendar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
  }
}