.home {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .home-top-bar {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;

    .home-account {
      width: 50%;
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      transition: opacity 0.3s ease-in-out;

      .home-account-name {
        font-weight: bold;
        flex: 1;
      }

      .home-account-mask {
        width: 100vw;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;

        .home-select-account {
          position: absolute;
          display: flex;
          flex-direction: column;
          padding: 8px 0;
          gap: 8px;
          top: 56px;
          left: 10px;
          width: 180px;
          background-color: rgb(240, 240, 240);
          height: fit-content;
          border-radius: 10px;
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(0, 0, 0, 0.1), 1px -1px 4px rgba(0, 0, 0, 0.1), -1px 1px 4px rgba(0, 0, 0, 0.1);
  
          .home-account-item {
            padding: 5px 10px;
            font-size: small;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            &:hover {
              background-color: rgba(99, 99, 99, 0.1);
            }
  
            .home-account-icon {
              height: 24px;
              width: 24px;
            }
          }
        }
      }
    }

    .home-search {
      display: flex;
      align-items: center;
      position: absolute;
      transition: left 0.3s ease-in-out;
    }

    .icon {
      color: var(--main-color);
      height: 30px;
      width: 30px;
    }
  }

  .home-search-input {
    width: 100%;
    position: absolute;
    top: 15px;
    height: 30px;
    transition: right 0.3s ease-in-out, left 0.3s ease-in-out;

    .home-search-input-entity{
      position: absolute;
      right: 10px;
      padding: 0 10px;
      caret-color: var(--main-color);
      outline: none;
      border: none;
      border-radius: 20px;
      width: calc(100% - 54px);
      height: 100%;
    }
  }

  .new-record-button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
  }
}